.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   margin-top: 110px;
    
}

.container::after {
    content: "";    
    
}

@media screen and (max-width: 767px) {
    .container {
        flex-direction: column;
        justify-content: center;
    }
}
